.footer {
    padding-top: 140px;
    position: absolute;
    background-color: #008AFF;
    border-top-right-radius: 200px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}
.lastLine {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 84px;
    padding-left: 227px;

}