.footer{
    position: absolute;
    background-color: #008AFF;
    border-top-right-radius: 200px;
    width: 100%;
    bottom: 0;
    overflow-y: auto;
}
.navBar{
    position: absolute;
    right: 0;
    bottom: 84px;
}